<h1>Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <a href="/tasks/<%= task.id %>">
        <%= task.description %>
    </li>
  <% end %>
</ul>


<%= link_to 'Add New Task', new_task_path %>
