<% require './lib/feature' %>

<h1>Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= task.description %>
    </li>
  <% end %>
</ul>

<% if Feature.enabled?("new_tasks_link") %>
  <%= link_to 'Add New Task', tasks_new_path %>
<% end %>
